<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Ma formation de développeur web et web mobile, complété par ma passion, m'a permis d'acquérir une solide expérience notamment dans le développement back-end.">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Vigreux Joël">
  <title>VJ | Portfolio - Développeur web</title>
  <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  @!section('head')
</head>
<body>
@!section('body')
<script src="{{ asset('assets/app.js')}}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
