<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Vigreux Joël">

  <title>Vigreux Joël - Développeur web</title>
  <meta name="title" content="Vigreux Joël - Développeur web passionné">
  <meta name="description" content="Développeur passionné et perfectionniste. Je suis à votre écoute pour désigner et développer votre projet web ainsi qu'en assurer son bon maintien.">

  <meta property="og:type" content="website">
  <meta property="og:url" content="https://vigreux-joel.fr/">
  <meta property="og:title" content="Vigreux Joël - Développeur web">
  <meta property="og:description" content="Développeur passionné et perfectionniste. Je suis à votre écoute pour désigner et développer votre projet web ainsi qu'en assurer son bon maintien.">
  <meta property="og:image" content="https://vigreux-joel.fr/background.jpg">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://vigreux-joel.fr/">
  <meta property="twitter:title" content="Vigreux Joël - Développeur web">
  <meta property="twitter:description" content="Développeur passionné et perfectionniste. Je suis à votre écoute pour désigner et développer votre projet web ainsi qu'en assurer son bon maintien.">
  <meta property="twitter:image" content="https://vigreux-joel.fr/background.jpg">

  <link rel="shortcut icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  @!section('head')
</head>
<body>
@!section('body')
<script src="{{ asset('assets/app.js')}}"></script>
<script src="{{ asset('assets/files/aos.js')}}"></script>
<script>
  AOS.init();
</script>
</body>
</html>
