<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vigreux Joël - Développeur web</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  @!section('head')
</head>
<body>
@!section('body')
<script src="{{ asset('assets/app.js')}}"></script>
</body>
</html>
