@plugin "@udixio/tailwind" {
  colorKeys: surface, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, on-surface, on-surface-variant, outline, outline-variant, inverse-surface, inverse-on-surface, primary, primary-dim, on-primary, primary-container, on-primary-container, primary-fixed, primary-fixed-dim, on-primary-fixed, on-primary-fixed-variant, inverse-primary, secondary, secondary-dim, on-secondary, secondary-container, on-secondary-container, secondary-fixed, secondary-fixed-dim, on-secondary-fixed, on-secondary-fixed-variant, tertiary, tertiary-dim, on-tertiary, tertiary-container, on-tertiary-container, tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed, on-tertiary-fixed-variant, error, error-dim, on-error, error-container, on-error-container, surface-variant, surface-tint, background, on-background;
  fontStyles: display-large fontWeight[400] fontSize[3.5625] lineHeight[4] letterSpacing[-0.015625] fontFamily[expressive], display-medium fontWeight[400] fontSize[2.8125] lineHeight[3.25] fontFamily[expressive], display-small fontWeight[400] fontSize[2.25] lineHeight[2.75] fontFamily[expressive], headline-large fontWeight[400] fontSize[2] lineHeight[2.5] fontFamily[expressive], headline-medium fontWeight[400] fontSize[1.75] lineHeight[2.25] fontFamily[expressive], headline-small fontWeight[400] fontSize[1.5] lineHeight[2] fontFamily[expressive], title-large fontWeight[400] fontSize[1.375] lineHeight[1.75] fontFamily[neutral], title-medium fontWeight[500] fontSize[1] lineHeight[1.5] fontFamily[neutral] letterSpacing[0.009375], title-small fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-large fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-medium fontWeight[500] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], label-small fontWeight[500] fontSize[0.6875] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], body-large fontWeight[400] fontSize[1] lineHeight[1.5625] fontFamily[neutral] letterSpacing[0.03125], body-medium fontWeight[400] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.015625], body-small fontWeight[400] fontSize[0.75] lineHeight[1.125] fontFamily[neutral] letterSpacing[0.025];
  responsiveBreakPoints: sm 1.125;
}
@theme {
  --color-*: initial;
  --color-surface: #ffffff;
  --color-surface-dim: #d8dade;
  --color-surface-bright: #f7f9fd;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f7;
  --color-surface-container: #eceef1;
  --color-surface-container-high: #e6e8ec;
  --color-surface-container-highest: #e0e3e6;
  --color-on-surface: #2f3336;
  --color-on-surface-variant: #586066;
  --color-outline: #747c82;
  --color-outline-variant: #abb3b9;
  --color-inverse-surface: #0b0f11;
  --color-inverse-on-surface: #eff1f4;
  --color-primary: #004c69;
  --color-primary-dim: #004059;
  --color-on-primary: #9fd7fa;
  --color-primary-container: #9cd3f6;
  --color-on-primary-container: #004965;
  --color-primary-fixed: #9cd3f6;
  --color-primary-fixed-dim: #8ec5e7;
  --color-on-primary-fixed: #00344a;
  --color-on-primary-fixed-variant: #0e5370;
  --color-inverse-primary: #9cd3f6;
  --color-secondary: #4e626f;
  --color-secondary-dim: #425662;
  --color-on-secondary: #f4f9ff;
  --color-secondary-container: #d0e5f5;
  --color-on-secondary-container: #415461;
  --color-secondary-fixed: #d0e5f5;
  --color-secondary-fixed-dim: #c2d7e6;
  --color-on-secondary-fixed: #2e424e;
  --color-on-secondary-fixed-variant: #4a5e6b;
  --color-tertiary: #7848a7;
  --color-tertiary-dim: #6b3c9a;
  --color-on-tertiary: #fff6ff;
  --color-tertiary-container: #cd9bff;
  --color-on-tertiary-container: #461274;
  --color-tertiary-fixed: #cd9bff;
  --color-tertiary-fixed-dim: #bf8df1;
  --color-on-tertiary-fixed: #270049;
  --color-on-tertiary-fixed-variant: #4f1f7e;
  --color-error: #a83836;
  --color-error-dim: #67040d;
  --color-on-error: #fff7f6;
  --color-error-container: #fa746f;
  --color-on-error-container: #6e0a12;
  --color-surface-variant: #e0e3e6;
  --color-surface-tint: #004c69;
  --color-background: #ffffff;
  --color-on-background: #2f3336;
}
@layer theme {
  .dark {
    --color-surface: #0b0f11;
    --color-surface-dim: #0b0f11;
    --color-surface-bright: #292d2f;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #101416;
    --color-surface-container: #161a1d;
    --color-surface-container-high: #1c2023;
    --color-surface-container-highest: #232629;
    --color-on-surface: #e3e6e9;
    --color-on-surface-variant: #a4acb2;
    --color-outline: #6f767c;
    --color-outline-variant: #41494e;
    --color-inverse-surface: #f7f9fd;
    --color-inverse-on-surface: #2d3134;
    --color-primary: #7bb2d4;
    --color-primary-dim: #6ea5c6;
    --color-on-primary: #003044;
    --color-primary-container: #427b9a;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #9cd3f6;
    --color-primary-fixed-dim: #8ec5e7;
    --color-on-primary-fixed: #00344a;
    --color-on-primary-fixed-variant: #0e5370;
    --color-inverse-primary: #296583;
    --color-secondary: #b4c9d8;
    --color-secondary-dim: #a7bcca;
    --color-on-secondary: #2f434f;
    --color-secondary-container: #2a3e4a;
    --color-on-secondary-container: #adc2d1;
    --color-secondary-fixed: #d0e5f5;
    --color-secondary-fixed-dim: #c2d7e6;
    --color-on-secondary-fixed: #2e424e;
    --color-on-secondary-fixed-variant: #4a5e6b;
    --color-tertiary: #d5a9ff;
    --color-tertiary-dim: #cb98fd;
    --color-on-tertiary: #4f1e7d;
    --color-tertiary-container: #cb98fd;
    --color-on-tertiary-container: #440f72;
    --color-tertiary-fixed: #cd9bff;
    --color-tertiary-fixed-dim: #bf8df1;
    --color-on-tertiary-fixed: #270049;
    --color-on-tertiary-fixed-variant: #4f1f7e;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #232629;
    --color-surface-tint: #7bb2d4;
    --color-background: #0b0f11;
    --color-on-background: #e3e6e9;
  }
 
}
@layer theme {
  .theme-blue {
    --color-surface: #ffffff;
    --color-surface-dim: #dad9df;
    --color-surface-bright: #faf9fe;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f4f3f8;
    --color-surface-container: #eeedf3;
    --color-surface-container-high: #e8e7ed;
    --color-surface-container-highest: #e3e2e7;
    --color-on-surface: #313237;
    --color-on-surface-variant: #5c5f68;
    --color-outline: #787a84;
    --color-outline-variant: #afb1bc;
    --color-inverse-surface: #0d0e12;
    --color-inverse-on-surface: #f1f0f6;
    --color-primary: #2e4673;
    --color-primary-dim: #223a67;
    --color-on-primary: #bcd0ff;
    --color-primary-container: #a9c1f6;
    --color-on-primary-container: #233c68;
    --color-primary-fixed: #a9c1f6;
    --color-primary-fixed-dim: #9cb3e7;
    --color-on-primary-fixed: #092652;
    --color-on-primary-fixed-variant: #2d4572;
    --color-inverse-primary: #a9c1f6;
    --color-secondary: #575f73;
    --color-secondary-dim: #4b5367;
    --color-on-secondary: #f9f8ff;
    --color-secondary-container: #dae2fa;
    --color-on-secondary-container: #495265;
    --color-secondary-fixed: #dae2fa;
    --color-secondary-fixed-dim: #ccd4ec;
    --color-on-secondary-fixed: #373f52;
    --color-on-secondary-fixed-variant: #535b6f;
    --color-tertiary: #943e81;
    --color-tertiary-dim: #863275;
    --color-on-tertiary: #fff7f9;
    --color-tertiary-container: #f994dd;
    --color-on-tertiary-container: #610f54;
    --color-tertiary-fixed: #f994dd;
    --color-tertiary-fixed-dim: #ea87cf;
    --color-on-tertiary-fixed: #3e0035;
    --color-on-tertiary-fixed-variant: #6c1a5d;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #e3e2e7;
    --color-surface-tint: #2e4673;
    --color-background: #ffffff;
    --color-on-background: #313237;
    }
}

@layer theme {
  :is(.theme-blue.dark, .theme-blue .dark, .dark .theme-blue) {
    --color-surface: #0d0e12;
    --color-surface-dim: #0d0e12;
    --color-surface-bright: #2b2c30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #121317;
    --color-surface-container: #18191d;
    --color-surface-container-high: #1e1f24;
    --color-surface-container-highest: #24262a;
    --color-on-surface: #e6e5ea;
    --color-on-surface-variant: #a8abb5;
    --color-outline: #73757e;
    --color-outline-variant: #454850;
    --color-inverse-surface: #faf9fe;
    --color-inverse-on-surface: #2f3035;
    --color-primary: #94abdf;
    --color-primary-dim: #879ed1;
    --color-on-primary: #102b57;
    --color-primary-container: #5d74a4;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #a9c1f6;
    --color-primary-fixed-dim: #9cb3e7;
    --color-on-primary-fixed: #092652;
    --color-on-primary-fixed-variant: #2d4572;
    --color-inverse-primary: #475f8d;
    --color-secondary: #bec6dd;
    --color-secondary-dim: #b0b9cf;
    --color-on-secondary: #384053;
    --color-secondary-container: #333b4e;
    --color-on-secondary-container: #b7bfd6;
    --color-secondary-fixed: #dae2fa;
    --color-secondary-fixed-dim: #ccd4ec;
    --color-on-secondary-fixed: #373f52;
    --color-on-secondary-fixed-variant: #535b6f;
    --color-tertiary: #ffa8e5;
    --color-tertiary-dim: #f994dd;
    --color-on-tertiary: #6d1b5e;
    --color-tertiary-container: #f994dd;
    --color-on-tertiary-container: #610f54;
    --color-tertiary-fixed: #f994dd;
    --color-tertiary-fixed-dim: #ea87cf;
    --color-on-tertiary-fixed: #3e0035;
    --color-on-tertiary-fixed-variant: #6c1a5d;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #24262a;
    --color-surface-tint: #94abdf;
    --color-background: #0d0e12;
    --color-on-background: #e6e5ea;
  }
 
}
@layer theme {
  .theme-green {
    --color-surface: #ffffff;
    --color-surface-dim: #d8dbd5;
    --color-surface-bright: #f7faf4;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f2f5ee;
    --color-surface-container: #ecefe8;
    --color-surface-container-high: #e6e9e3;
    --color-surface-container-highest: #e0e3dd;
    --color-on-surface: #2f332f;
    --color-on-surface-variant: #596159;
    --color-outline: #747d74;
    --color-outline-variant: #abb4aa;
    --color-inverse-surface: #0b0f0c;
    --color-inverse-on-surface: #eff2eb;
    --color-primary: #1b502f;
    --color-primary-dim: #0c4424;
    --color-on-primary: #a5ddb1;
    --color-primary-container: #b7f0c3;
    --color-on-primary-container: #285c3a;
    --color-primary-fixed: #b7f0c3;
    --color-primary-fixed-dim: #a9e2b5;
    --color-on-primary-fixed: #124928;
    --color-on-primary-fixed-variant: #326643;
    --color-inverse-primary: #c2fcce;
    --color-secondary: #4f6453;
    --color-secondary-dim: #445847;
    --color-on-secondary: #e8ffe9;
    --color-secondary-container: #d1e9d3;
    --color-on-secondary-container: #425746;
    --color-secondary-fixed: #d1e9d3;
    --color-secondary-fixed-dim: #c3dac5;
    --color-on-secondary-fixed: #304434;
    --color-on-secondary-fixed-variant: #4c6050;
    --color-tertiary: #006787;
    --color-tertiary-dim: #005a76;
    --color-on-tertiary: #f3faff;
    --color-tertiary-container: #3cc9ff;
    --color-on-tertiary-container: #003e52;
    --color-tertiary-fixed: #3cc9ff;
    --color-tertiary-fixed-dim: #21bbf0;
    --color-on-tertiary-fixed: #002635;
    --color-on-tertiary-fixed-variant: #00475e;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #e0e3dd;
    --color-surface-tint: #1b502f;
    --color-background: #ffffff;
    --color-on-background: #2f332f;
    }
}

@layer theme {
  :is(.theme-green.dark, .theme-green .dark, .dark .theme-green) {
    --color-surface: #0b0f0c;
    --color-surface-dim: #0b0f0c;
    --color-surface-bright: #292d29;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #101411;
    --color-surface-container: #171b17;
    --color-surface-container-high: #1d211d;
    --color-surface-container-highest: #232723;
    --color-on-surface: #e3e6e0;
    --color-on-surface-variant: #a5ada4;
    --color-outline: #6f786f;
    --color-outline-variant: #424a42;
    --color-inverse-surface: #f7faf4;
    --color-inverse-on-surface: #2d312d;
    --color-primary: #81b88e;
    --color-primary-dim: #74aa82;
    --color-on-primary: #003419;
    --color-primary-container: #4b805a;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #b7f0c3;
    --color-primary-fixed-dim: #a9e2b5;
    --color-on-primary-fixed: #124928;
    --color-on-primary-fixed-variant: #326643;
    --color-inverse-primary: #366946;
    --color-secondary: #b5ccb8;
    --color-secondary-dim: #a8bfaa;
    --color-on-secondary: #314535;
    --color-secondary-container: #2c4031;
    --color-on-secondary-container: #aec5b1;
    --color-secondary-fixed: #d1e9d3;
    --color-secondary-fixed-dim: #c3dac5;
    --color-on-secondary-fixed: #304434;
    --color-on-secondary-fixed-variant: #4c6050;
    --color-tertiary: #78d4ff;
    --color-tertiary-dim: #3cc9ff;
    --color-on-tertiary: #00485f;
    --color-tertiary-container: #3cc9ff;
    --color-on-tertiary-container: #003e52;
    --color-tertiary-fixed: #3cc9ff;
    --color-tertiary-fixed-dim: #21bbf0;
    --color-on-tertiary-fixed: #002635;
    --color-on-tertiary-fixed-variant: #00475e;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #232723;
    --color-surface-tint: #81b88e;
    --color-background: #0b0f0c;
    --color-on-background: #e3e6e0;
  }
 
}
@layer theme {
  .theme-purple {
    --color-surface: #ffffff;
    --color-surface-dim: #dfd8de;
    --color-surface-bright: #fef7fe;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f9f1f8;
    --color-surface-container: #f3ecf2;
    --color-surface-container-high: #ede6ec;
    --color-surface-container-highest: #e7e0e7;
    --color-on-surface: #343136;
    --color-on-surface-variant: #635d67;
    --color-outline: #7f7883;
    --color-outline-variant: #b7afbb;
    --color-inverse-surface: #0f0d12;
    --color-inverse-on-surface: #f6eff5;
    --color-primary: #523c6e;
    --color-primary-dim: #463162;
    --color-on-primary: #e0c4ff;
    --color-primary-container: #dfc3ff;
    --color-on-primary-container: #513b6d;
    --color-primary-fixed: #dfc3ff;
    --color-primary-fixed-dim: #d1b6f1;
    --color-on-primary-fixed: #3d2858;
    --color-on-primary-fixed-variant: #5b4577;
    --color-inverse-primary: #dfc3ff;
    --color-secondary: #665b71;
    --color-secondary-dim: #594f65;
    --color-on-secondary: #fef6ff;
    --color-secondary-container: #ecddf8;
    --color-on-secondary-container: #584d63;
    --color-secondary-fixed: #ecddf8;
    --color-secondary-fixed-dim: #decfea;
    --color-on-secondary-fixed: #453b50;
    --color-on-secondary-fixed-variant: #62576d;
    --color-tertiary: #a33d3a;
    --color-tertiary-dim: #93322f;
    --color-on-tertiary: #fff7f6;
    --color-tertiary-container: #ff928b;
    --color-on-tertiary-container: #630e11;
    --color-tertiary-fixed: #ff928b;
    --color-tertiary-fixed-dim: #f97f78;
    --color-on-tertiary-fixed: #3a0003;
    --color-on-tertiary-fixed-variant: #701819;
    --color-error: #a8364b;
    --color-error-dim: #6b0221;
    --color-on-error: #fff7f7;
    --color-error-container: #f97386;
    --color-on-error-container: #6e0523;
    --color-surface-variant: #e7e0e7;
    --color-surface-tint: #523c6e;
    --color-background: #ffffff;
    --color-on-background: #343136;
    }
}

@layer theme {
  :is(.theme-purple.dark, .theme-purple .dark, .dark .theme-purple) {
    --color-surface: #0f0d12;
    --color-surface-dim: #0f0d12;
    --color-surface-bright: #2e2b30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #151217;
    --color-surface-container: #1b191d;
    --color-surface-container-high: #211f23;
    --color-surface-container-highest: #272529;
    --color-on-surface: #eae3ea;
    --color-on-surface-variant: #b0a8b4;
    --color-outline: #7a737e;
    --color-outline-variant: #4b464f;
    --color-inverse-surface: #fef7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #bba1da;
    --color-primary-dim: #ad94cc;
    --color-on-primary: #372252;
    --color-primary-container: #826aa0;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #dfc3ff;
    --color-primary-fixed-dim: #d1b6f1;
    --color-on-primary-fixed: #3d2858;
    --color-on-primary-fixed-variant: #5b4577;
    --color-inverse-primary: #6c5589;
    --color-secondary: #cfc1db;
    --color-secondary-dim: #c1b4cd;
    --color-on-secondary: #463c51;
    --color-secondary-container: #41374c;
    --color-on-secondary-container: #c8bad4;
    --color-secondary-fixed: #ecddf8;
    --color-secondary-fixed-dim: #decfea;
    --color-on-secondary-fixed: #453b50;
    --color-on-secondary-fixed-variant: #62576d;
    --color-tertiary: #ff9690;
    --color-tertiary-dim: #fc817b;
    --color-on-tertiary: #661013;
    --color-tertiary-container: #fc817b;
    --color-on-tertiary-container: #560309;
    --color-tertiary-fixed: #ff928b;
    --color-tertiary-fixed-dim: #f97f78;
    --color-on-tertiary-fixed: #3a0003;
    --color-on-tertiary-fixed-variant: #701819;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #272529;
    --color-surface-tint: #bba1da;
    --color-background: #0f0d12;
    --color-on-background: #eae3ea;
  }
 
}
@layer theme {
  .theme-orange {
    --color-surface: #ffffff;
    --color-surface-dim: #e6d7d3;
    --color-surface-bright: #fff8f6;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #fff1ed;
    --color-surface-container: #faeae7;
    --color-surface-container-high: #f5e5e1;
    --color-surface-container-highest: #efdfdb;
    --color-on-surface: #39302e;
    --color-on-surface-variant: #6d5b56;
    --color-outline: #8a7671;
    --color-outline-variant: #c3ada7;
    --color-inverse-surface: #130d0b;
    --color-inverse-on-surface: #fdede9;
    --color-primary: #6f3626;
    --color-primary-dim: #612b1c;
    --color-on-primary: #ffc1b1;
    --color-primary-container: #ffad97;
    --color-on-primary-container: #632d1d;
    --color-primary-fixed: #ffad97;
    --color-primary-fixed-dim: #efa08a;
    --color-on-primary-fixed: #48180b;
    --color-on-primary-fixed-variant: #6e3525;
    --color-inverse-primary: #ffad97;
    --color-secondary: #79574e;
    --color-secondary-dim: #6b4b43;
    --color-on-secondary: #fff7f5;
    --color-secondary-container: #ffdbd1;
    --color-on-secondary-container: #6a4a41;
    --color-secondary-fixed: #ffdbd1;
    --color-secondary-fixed-dim: #f7cbbf;
    --color-on-secondary-fixed: #563830;
    --color-on-secondary-fixed-variant: #75544b;
    --color-tertiary: #656200;
    --color-tertiary-dim: #585500;
    --color-on-tertiary: #fffbcf;
    --color-tertiary-container: #fff96d;
    --color-on-tertiary-container: #615e00;
    --color-tertiary-fixed: #fff96d;
    --color-tertiary-fixed-dim: #f0ea60;
    --color-on-tertiary-fixed: #4e4c00;
    --color-on-tertiary-fixed-variant: #6c6900;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #efdfdb;
    --color-surface-tint: #6f3626;
    --color-background: #ffffff;
    --color-on-background: #39302e;
    }
}

@layer theme {
  :is(.theme-orange.dark, .theme-orange .dark, .dark .theme-orange) {
    --color-surface: #130d0b;
    --color-surface-dim: #130d0b;
    --color-surface-bright: #332a28;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #191210;
    --color-surface-container: #1f1816;
    --color-surface-container-high: #261e1c;
    --color-surface-container-highest: #2c2422;
    --color-on-surface: #f2e2de;
    --color-on-surface-variant: #bca6a1;
    --color-outline: #84716c;
    --color-outline-variant: #554440;
    --color-inverse-surface: #fff8f6;
    --color-inverse-on-surface: #372e2c;
    --color-primary: #e69883;
    --color-primary-dim: #d78b76;
    --color-on-primary: #4f1d0f;
    --color-primary-container: #a66350;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #ffad97;
    --color-primary-fixed-dim: #efa08a;
    --color-on-primary-fixed: #48180b;
    --color-on-primary-fixed-variant: #6e3525;
    --color-inverse-primary: #8d4e3c;
    --color-secondary: #e8bdb1;
    --color-secondary-dim: #d9afa4;
    --color-on-secondary: #563931;
    --color-secondary-container: #51342c;
    --color-on-secondary-container: #e0b6ab;
    --color-secondary-fixed: #ffdbd1;
    --color-secondary-fixed-dim: #f7cbbf;
    --color-on-secondary-fixed: #563830;
    --color-on-secondary-fixed-variant: #75544b;
    --color-tertiary: #fffbd6;
    --color-tertiary-dim: #f6f066;
    --color-on-tertiary: #656200;
    --color-tertiary-container: #f6f066;
    --color-on-tertiary-container: #5c5900;
    --color-tertiary-fixed: #fff96d;
    --color-tertiary-fixed-dim: #f0ea60;
    --color-on-tertiary-fixed: #4e4c00;
    --color-on-tertiary-fixed-variant: #6c6900;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #2c2422;
    --color-surface-tint: #e69883;
    --color-background: #130d0b;
    --color-on-background: #f2e2de;
  }
 
}
@theme {
  --font-expressive: "Montserrat", "sans-serif";
  --font-neutral: "Roboto", "sans-serif";
}