@plugin "@udixio/tailwind" {
  colorKeys: surface, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, on-surface, on-surface-variant, outline, outline-variant, inverse-surface, inverse-on-surface, primary, primary-dim, on-primary, primary-container, on-primary-container, primary-fixed, primary-fixed-dim, on-primary-fixed, on-primary-fixed-variant, inverse-primary, secondary, secondary-dim, on-secondary, secondary-container, on-secondary-container, secondary-fixed, secondary-fixed-dim, on-secondary-fixed, on-secondary-fixed-variant, tertiary, tertiary-dim, on-tertiary, tertiary-container, on-tertiary-container, tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed, on-tertiary-fixed-variant, error, error-dim, on-error, error-container, on-error-container, surface-variant, surface-tint, background, on-background;
  fontStyles: display-large fontWeight[400] fontSize[3.5625] lineHeight[4] letterSpacing[-0.015625] fontFamily[expressive], display-medium fontWeight[400] fontSize[2.8125] lineHeight[3.25] fontFamily[expressive], display-small fontWeight[400] fontSize[2.25] lineHeight[2.75] fontFamily[expressive], headline-large fontWeight[400] fontSize[2] lineHeight[2.5] fontFamily[expressive], headline-medium fontWeight[400] fontSize[1.75] lineHeight[2.25] fontFamily[expressive], headline-small fontWeight[400] fontSize[1.5] lineHeight[2] fontFamily[expressive], title-large fontWeight[400] fontSize[1.375] lineHeight[1.75] fontFamily[neutral], title-medium fontWeight[500] fontSize[1] lineHeight[1.5] fontFamily[neutral] letterSpacing[0.009375], title-small fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-large fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-medium fontWeight[500] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], label-small fontWeight[500] fontSize[0.6875] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], body-large fontWeight[400] fontSize[1] lineHeight[1.5625] fontFamily[neutral] letterSpacing[0.03125], body-medium fontWeight[400] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.015625], body-small fontWeight[400] fontSize[0.75] lineHeight[1.125] fontFamily[neutral] letterSpacing[0.025];
  responsiveBreakPoints: sm 1.125;
}
@theme {
  --color-*: initial;
  --color-surface: #ffffff;
  --color-surface-dim: #d8dadd;
  --color-surface-bright: #f7f9fd;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f1f4f7;
  --color-surface-container: #eceef1;
  --color-surface-container-high: #e6e8ec;
  --color-surface-container-highest: #e0e3e6;
  --color-on-surface: #2f3336;
  --color-on-surface-variant: #586066;
  --color-outline: #747c82;
  --color-outline-variant: #abb3b9;
  --color-inverse-surface: #0b0f11;
  --color-inverse-on-surface: #eff1f4;
  --color-primary: #244659;
  --color-primary-dim: #173b4d;
  --color-on-primary: #accee5;
  --color-primary-container: #c4e7ff;
  --color-on-primary-container: #345669;
  --color-primary-fixed: #c4e7ff;
  --color-primary-fixed-dim: #b7d9f0;
  --color-on-primary-fixed: #214356;
  --color-on-primary-fixed-variant: #3e6073;
  --color-inverse-primary: #c4e7ff;
  --color-secondary: #546169;
  --color-secondary-dim: #48555d;
  --color-on-secondary: #f4f9ff;
  --color-secondary-container: #d7e4ee;
  --color-on-secondary-container: #47535c;
  --color-secondary-fixed: #d7e4ee;
  --color-secondary-fixed-dim: #c9d6e0;
  --color-on-secondary-fixed: #354149;
  --color-on-secondary-fixed-variant: #515d66;
  --color-tertiary: #445aaa;
  --color-tertiary-dim: #374e9d;
  --color-on-tertiary: #faf8ff;
  --color-tertiary-container: #98adff;
  --color-on-tertiary-container: #0b2979;
  --color-tertiary-fixed: #98adff;
  --color-tertiary-fixed-dim: #899ff4;
  --color-on-tertiary-fixed: #001248;
  --color-on-tertiary-fixed-variant: #193282;
  --color-error: #a83836;
  --color-error-dim: #67040d;
  --color-on-error: #fff7f6;
  --color-error-container: #fa746f;
  --color-on-error-container: #6e0a12;
  --color-surface-variant: #e0e3e6;
  --color-surface-tint: #244659;
  --color-background: #ffffff;
  --color-on-background: #2f3336;
}
@layer theme {
  .dark {
    --color-surface: #0b0f11;
    --color-surface-dim: #0b0f11;
    --color-surface-bright: #292d2f;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #101416;
    --color-surface-container: #161a1d;
    --color-surface-container-high: #1c2023;
    --color-surface-container-highest: #232629;
    --color-on-surface: #e3e6e9;
    --color-on-surface-variant: #a4acb2;
    --color-outline: #6f767c;
    --color-outline-variant: #41494e;
    --color-inverse-surface: #f7f9fd;
    --color-inverse-on-surface: #2d3134;
    --color-primary: #93b5cb;
    --color-primary-dim: #86a8bd;
    --color-on-primary: #0f3446;
    --color-primary-container: #58798d;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #c4e7ff;
    --color-primary-fixed-dim: #b7d9f0;
    --color-on-primary-fixed: #214356;
    --color-on-primary-fixed-variant: #3e6073;
    --color-inverse-primary: #426377;
    --color-secondary: #bbc8d2;
    --color-secondary-dim: #aebac4;
    --color-on-secondary: #36424a;
    --color-secondary-container: #313d45;
    --color-on-secondary-container: #b4c1cb;
    --color-secondary-fixed: #d7e4ee;
    --color-secondary-fixed-dim: #c9d6e0;
    --color-on-secondary-fixed: #354149;
    --color-on-secondary-fixed-variant: #515d66;
    --color-tertiary: #a4b5ff;
    --color-tertiary-dim: #91a7fd;
    --color-on-tertiary: #15307f;
    --color-tertiary-container: #91a7fd;
    --color-on-tertiary-container: #032474;
    --color-tertiary-fixed: #98adff;
    --color-tertiary-fixed-dim: #899ff4;
    --color-on-tertiary-fixed: #001248;
    --color-on-tertiary-fixed-variant: #193282;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #232629;
    --color-surface-tint: #93b5cb;
    --color-background: #0b0f11;
    --color-on-background: #e3e6e9;
  }
 
}
@layer theme {
  .theme-blue {
    --color-surface: #ffffff;
    --color-surface-dim: #dad9df;
    --color-surface-bright: #faf9fe;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f4f3f8;
    --color-surface-container: #eeedf3;
    --color-surface-container-high: #e8e7ed;
    --color-surface-container-highest: #e3e2e7;
    --color-on-surface: #313237;
    --color-on-surface-variant: #5c5f68;
    --color-outline: #787a84;
    --color-outline-variant: #afb1bc;
    --color-inverse-surface: #0d0e12;
    --color-inverse-on-surface: #f1f0f6;
    --color-primary: #344260;
    --color-primary-dim: #293754;
    --color-on-primary: #bbcaee;
    --color-primary-container: #c9d7fc;
    --color-on-primary-container: #3d4b69;
    --color-primary-fixed: #c9d7fc;
    --color-primary-fixed-dim: #bbc9ed;
    --color-on-primary-fixed: #2a3855;
    --color-on-primary-fixed-variant: #465473;
    --color-inverse-primary: #c9d7fc;
    --color-secondary: #5a5f6c;
    --color-secondary-dim: #4e5360;
    --color-on-secondary: #f9f8ff;
    --color-secondary-container: #dee2f2;
    --color-on-secondary-container: #4d525f;
    --color-secondary-fixed: #dee2f2;
    --color-secondary-fixed-dim: #d0d4e4;
    --color-on-secondary-fixed: #3a3f4c;
    --color-on-secondary-fixed-variant: #565b69;
    --color-tertiary: #704ea0;
    --color-tertiary-dim: #644193;
    --color-on-tertiary: #fef6ff;
    --color-tertiary-container: #c59ff9;
    --color-on-tertiary-container: #401b6e;
    --color-tertiary-fixed: #c59ff9;
    --color-tertiary-fixed-dim: #b792eb;
    --color-on-tertiary-fixed: #24004c;
    --color-on-tertiary-fixed-variant: #492677;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #e3e2e7;
    --color-surface-tint: #344260;
    --color-background: #ffffff;
    --color-on-background: #313237;
    }
}

@layer theme {
  :is(.theme-blue.dark, .theme-blue .dark, .dark .theme-blue) {
    --color-surface: #0d0e12;
    --color-surface-dim: #0d0e12;
    --color-surface-bright: #2b2c30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #121317;
    --color-surface-container: #18191d;
    --color-surface-container-high: #1e1f24;
    --color-surface-container-highest: #24262a;
    --color-on-surface: #e6e5ea;
    --color-on-surface-variant: #a9abb5;
    --color-outline: #73757e;
    --color-outline-variant: #454850;
    --color-inverse-surface: #faf9fe;
    --color-inverse-on-surface: #2f3035;
    --color-primary: #a2b0d3;
    --color-primary-dim: #95a3c5;
    --color-on-primary: #22304c;
    --color-primary-container: #677495;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #c9d7fc;
    --color-primary-fixed-dim: #bbc9ed;
    --color-on-primary-fixed: #2a3855;
    --color-on-primary-fixed-variant: #465473;
    --color-inverse-primary: #515f7e;
    --color-secondary: #c2c6d6;
    --color-secondary-dim: #b4b8c8;
    --color-on-secondary: #3b404d;
    --color-secondary-container: #363b48;
    --color-on-secondary-container: #babfcf;
    --color-secondary-fixed: #dee2f2;
    --color-secondary-fixed-dim: #d0d4e4;
    --color-on-secondary-fixed: #3a3f4c;
    --color-on-secondary-fixed-variant: #565b69;
    --color-tertiary: #d1afff;
    --color-tertiary-dim: #c59ff9;
    --color-on-tertiary: #4a2779;
    --color-tertiary-container: #c59ff9;
    --color-on-tertiary-container: #401b6e;
    --color-tertiary-fixed: #c59ff9;
    --color-tertiary-fixed-dim: #b792eb;
    --color-on-tertiary-fixed: #24004c;
    --color-on-tertiary-fixed-variant: #492677;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #24262a;
    --color-surface-tint: #a2b0d3;
    --color-background: #0d0e12;
    --color-on-background: #e6e5ea;
  }
 
}
@layer theme {
  .theme-green {
    --color-surface: #ffffff;
    --color-surface-dim: #d8dbd5;
    --color-surface-bright: #f7faf4;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f2f5ee;
    --color-surface-container: #ecefe8;
    --color-surface-container-high: #e6e9e3;
    --color-surface-container-highest: #e0e3dd;
    --color-on-surface: #2f332f;
    --color-on-surface-variant: #596159;
    --color-outline: #747d74;
    --color-outline-variant: #abb4aa;
    --color-inverse-surface: #0b0f0c;
    --color-inverse-on-surface: #eff2eb;
    --color-primary: #2a4932;
    --color-primary-dim: #1e3d28;
    --color-on-primary: #afd2b4;
    --color-primary-container: #c7eccc;
    --color-on-primary-container: #395941;
    --color-primary-fixed: #c7eccc;
    --color-primary-fixed-dim: #b9ddbf;
    --color-on-primary-fixed: #274630;
    --color-on-primary-fixed-variant: #43634a;
    --color-inverse-primary: #d8fddd;
    --color-secondary: #556257;
    --color-secondary-dim: #49564b;
    --color-on-secondary: #eefded;
    --color-secondary-container: #d8e6d7;
    --color-on-secondary-container: #48554a;
    --color-secondary-fixed: #d8e6d7;
    --color-secondary-fixed-dim: #cad8ca;
    --color-on-secondary-fixed: #364238;
    --color-on-secondary-fixed-variant: #525f53;
    --color-tertiary: #526700;
    --color-tertiary-dim: #475a00;
    --color-on-tertiary: #f2ffc5;
    --color-tertiary-container: #d6f182;
    --color-on-tertiary-container: #475a00;
    --color-tertiary-fixed: #d6f182;
    --color-tertiary-fixed-dim: #c8e276;
    --color-on-tertiary-fixed: #374700;
    --color-on-tertiary-fixed-variant: #506500;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #e0e3dd;
    --color-surface-tint: #2a4932;
    --color-background: #ffffff;
    --color-on-background: #2f332f;
    }
}

@layer theme {
  :is(.theme-green.dark, .theme-green .dark, .dark .theme-green) {
    --color-surface: #0b0f0c;
    --color-surface-dim: #0b0f0c;
    --color-surface-bright: #292d29;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #101411;
    --color-surface-container: #171b17;
    --color-surface-container-high: #1d211d;
    --color-surface-container-highest: #232723;
    --color-on-surface: #e3e6e0;
    --color-on-surface-variant: #a5ada4;
    --color-outline: #6f786f;
    --color-outline-variant: #424a42;
    --color-inverse-surface: #f7faf4;
    --color-inverse-on-surface: #2d312d;
    --color-primary: #96b99c;
    --color-primary-dim: #89ab8f;
    --color-on-primary: #183722;
    --color-primary-container: #5b7c62;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #c7eccc;
    --color-primary-fixed-dim: #b9ddbf;
    --color-on-primary-fixed: #274630;
    --color-on-primary-fixed-variant: #43634a;
    --color-inverse-primary: #46664e;
    --color-secondary: #bccabc;
    --color-secondary-dim: #aebcae;
    --color-on-secondary: #374339;
    --color-secondary-container: #323e34;
    --color-on-secondary-container: #b5c3b5;
    --color-secondary-fixed: #d8e6d7;
    --color-secondary-fixed-dim: #cad8ca;
    --color-on-secondary-fixed: #364238;
    --color-on-secondary-fixed-variant: #525f53;
    --color-tertiary: #e4ff90;
    --color-tertiary-dim: #d6f182;
    --color-on-tertiary: #4f6300;
    --color-tertiary-container: #d6f182;
    --color-on-tertiary-container: #475a00;
    --color-tertiary-fixed: #d6f182;
    --color-tertiary-fixed-dim: #c8e276;
    --color-on-tertiary-fixed: #374700;
    --color-on-tertiary-fixed-variant: #506500;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #232723;
    --color-surface-tint: #96b99c;
    --color-background: #0b0f0c;
    --color-on-background: #e3e6e0;
  }
 
}
@layer theme {
  .theme-purple {
    --color-surface: #ffffff;
    --color-surface-dim: #dfd8de;
    --color-surface-bright: #fef7fe;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #f9f1f8;
    --color-surface-container: #f3ecf2;
    --color-surface-container-high: #ede6ec;
    --color-surface-container-highest: #e7e0e7;
    --color-on-surface: #343136;
    --color-on-surface-variant: #635d67;
    --color-outline: #7f7883;
    --color-outline-variant: #b7afbb;
    --color-inverse-surface: #100d12;
    --color-inverse-on-surface: #f6eff5;
    --color-primary: #4b3c5c;
    --color-primary-dim: #3f3150;
    --color-on-primary: #d6c2e9;
    --color-primary-container: #ead5fd;
    --color-on-primary-container: #574869;
    --color-primary-fixed: #ead5fd;
    --color-primary-fixed-dim: #dbc7ee;
    --color-on-primary-fixed: #443555;
    --color-on-primary-fixed-variant: #615173;
    --color-inverse-primary: #ead5fd;
    --color-secondary: #645c6b;
    --color-secondary-dim: #58505f;
    --color-on-secondary: #fff6ff;
    --color-secondary-container: #eadef0;
    --color-on-secondary-container: #564f5d;
    --color-secondary-fixed: #eadef0;
    --color-secondary-fixed-dim: #dcd0e2;
    --color-on-secondary-fixed: #443d4a;
    --color-on-secondary-fixed-variant: #605867;
    --color-tertiary: #944273;
    --color-tertiary-dim: #853667;
    --color-on-tertiary: #fff7f8;
    --color-tertiary-container: #ff9cd3;
    --color-on-tertiary-container: #651a4b;
    --color-tertiary-fixed: #ff9cd3;
    --color-tertiary-fixed-dim: #ef8fc5;
    --color-on-tertiary-fixed: #490034;
    --color-on-tertiary-fixed-variant: #702454;
    --color-error: #a8364b;
    --color-error-dim: #6b0221;
    --color-on-error: #fff7f7;
    --color-error-container: #f97386;
    --color-on-error-container: #6e0523;
    --color-surface-variant: #e7e0e7;
    --color-surface-tint: #4b3c5c;
    --color-background: #ffffff;
    --color-on-background: #343136;
    }
}

@layer theme {
  :is(.theme-purple.dark, .theme-purple .dark, .dark .theme-purple) {
    --color-surface: #100d12;
    --color-surface-dim: #100d12;
    --color-surface-bright: #2e2b30;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #151217;
    --color-surface-container: #1b191d;
    --color-surface-container-high: #211f23;
    --color-surface-container-highest: #282529;
    --color-on-surface: #eae3ea;
    --color-on-surface-variant: #b0a8b4;
    --color-outline: #7a737e;
    --color-outline-variant: #4b464f;
    --color-inverse-surface: #fef7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #bca9cf;
    --color-primary-dim: #ae9cc1;
    --color-on-primary: #382a49;
    --color-primary-container: #7e6e91;
    --color-on-primary-container: #ffffff;
    --color-primary-fixed: #ead5fd;
    --color-primary-fixed-dim: #dbc7ee;
    --color-on-primary-fixed: #443555;
    --color-on-primary-fixed-variant: #615173;
    --color-inverse-primary: #68587a;
    --color-secondary: #cdc3d4;
    --color-secondary-dim: #bfb5c6;
    --color-on-secondary: #443d4b;
    --color-secondary-container: #403946;
    --color-on-secondary-container: #c6bbcd;
    --color-secondary-fixed: #eadef0;
    --color-secondary-fixed-dim: #dcd0e2;
    --color-on-secondary-fixed: #443d4a;
    --color-on-secondary-fixed-variant: #605867;
    --color-tertiary: #ffb3db;
    --color-tertiary-dim: #ff9cd3;
    --color-on-tertiary: #712555;
    --color-tertiary-container: #ff9cd3;
    --color-on-tertiary-container: #651a4b;
    --color-tertiary-fixed: #ff9cd3;
    --color-tertiary-fixed-dim: #ef8fc5;
    --color-on-tertiary-fixed: #490034;
    --color-on-tertiary-fixed-variant: #702454;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #282529;
    --color-surface-tint: #bca9cf;
    --color-background: #100d12;
    --color-on-background: #eae3ea;
  }
 
}
@layer theme {
  .theme-orange {
    --color-surface: #ffffff;
    --color-surface-dim: #e6d7d3;
    --color-surface-bright: #fff8f6;
    --color-surface-container-lowest: #ffffff;
    --color-surface-container-low: #fff1ed;
    --color-surface-container: #faeae7;
    --color-surface-container-high: #f5e5e1;
    --color-surface-container-highest: #efdfdb;
    --color-on-surface: #39302e;
    --color-on-surface-variant: #6d5b56;
    --color-outline: #8a7671;
    --color-outline-variant: #c3ada7;
    --color-inverse-surface: #130d0b;
    --color-inverse-on-surface: #fdede9;
    --color-primary: #61372b;
    --color-primary-dim: #532c21;
    --color-on-primary: #f8bbaa;
    --color-primary-container: #f8bbaa;
    --color-on-primary-container: #60372b;
    --color-primary-fixed: #f8bbaa;
    --color-primary-fixed-dim: #e9ae9d;
    --color-on-primary-fixed: #492419;
    --color-on-primary-fixed-variant: #6b4034;
    --color-inverse-primary: #f8bbaa;
    --color-secondary: #725953;
    --color-secondary-dim: #654e47;
    --color-on-secondary: #fff7f5;
    --color-secondary-container: #fddbd3;
    --color-on-secondary-container: #644c46;
    --color-secondary-fixed: #fddbd3;
    --color-secondary-fixed-dim: #eecdc5;
    --color-on-secondary-fixed: #503a34;
    --color-on-secondary-fixed-variant: #6e564f;
    --color-tertiary: #7d5900;
    --color-tertiary-dim: #6d4d00;
    --color-on-tertiary: #fff8f1;
    --color-tertiary-container: #fdc34d;
    --color-on-tertiary-container: #5a3f00;
    --color-tertiary-fixed: #fdc34d;
    --color-tertiary-fixed-dim: #eeb541;
    --color-on-tertiary-fixed: #412d00;
    --color-on-tertiary-fixed-variant: #654800;
    --color-error: #a83836;
    --color-error-dim: #67040d;
    --color-on-error: #fff7f6;
    --color-error-container: #fa746f;
    --color-on-error-container: #6e0a12;
    --color-surface-variant: #efdfdb;
    --color-surface-tint: #61372b;
    --color-background: #ffffff;
    --color-on-background: #39302e;
    }
}

@layer theme {
  :is(.theme-orange.dark, .theme-orange .dark, .dark .theme-orange) {
    --color-surface: #130d0b;
    --color-surface-dim: #130d0b;
    --color-surface-bright: #332a28;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #191210;
    --color-surface-container: #1f1816;
    --color-surface-container-high: #261e1c;
    --color-surface-container-highest: #2c2422;
    --color-on-surface: #f2e2de;
    --color-on-surface-variant: #bca6a1;
    --color-outline: #84716c;
    --color-outline-variant: #554440;
    --color-inverse-surface: #fff8f6;
    --color-inverse-on-surface: #372e2c;
    --color-primary: #dda393;
    --color-primary-dim: #ce9686;
    --color-on-primary: #4c261b;
    --color-primary-container: #c89181;
    --color-on-primary-container: #38160c;
    --color-primary-fixed: #f8bbaa;
    --color-primary-fixed-dim: #e9ae9d;
    --color-on-primary-fixed: #492419;
    --color-on-primary-fixed-variant: #6b4034;
    --color-inverse-primary: #825346;
    --color-secondary: #dfc0b7;
    --color-secondary-dim: #d1b2aa;
    --color-on-secondary: #513b35;
    --color-secondary-container: #4c3631;
    --color-on-secondary-container: #d8b8b0;
    --color-secondary-fixed: #fddbd3;
    --color-secondary-fixed-dim: #eecdc5;
    --color-on-secondary-fixed: #503a34;
    --color-on-secondary-fixed-variant: #6e564f;
    --color-tertiary: #ffd486;
    --color-tertiary-dim: #fdc34d;
    --color-on-tertiary: #654700;
    --color-tertiary-container: #fdc34d;
    --color-on-tertiary-container: #5a3f00;
    --color-tertiary-fixed: #fdc34d;
    --color-tertiary-fixed-dim: #eeb541;
    --color-on-tertiary-fixed: #412d00;
    --color-on-tertiary-fixed-variant: #654800;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #2c2422;
    --color-surface-tint: #dda393;
    --color-background: #130d0b;
    --color-on-background: #f2e2de;
  }
 
}
@theme {
  --font-expressive: "Montserrat", "sans-serif";
  --font-neutral: "Roboto", "sans-serif";
}