@plugin "@udixio/tailwind" {
  colorKeys: surface, surface-dim, surface-bright, surface-container-lowest, surface-container-low, surface-container, surface-container-high, surface-container-highest, on-surface, on-surface-variant, outline, outline-variant, inverse-surface, inverse-on-surface, primary, primary-dim, on-primary, primary-container, on-primary-container, primary-fixed, primary-fixed-dim, on-primary-fixed, on-primary-fixed-variant, inverse-primary, secondary, secondary-dim, on-secondary, secondary-container, on-secondary-container, secondary-fixed, secondary-fixed-dim, on-secondary-fixed, on-secondary-fixed-variant, tertiary, tertiary-dim, on-tertiary, tertiary-container, on-tertiary-container, tertiary-fixed, tertiary-fixed-dim, on-tertiary-fixed, on-tertiary-fixed-variant, error, error-dim, on-error, error-container, on-error-container, surface-variant, surface-tint, background, on-background;
  fontStyles: display-large fontWeight[400] fontSize[3.5625] lineHeight[4] letterSpacing[-0.015625] fontFamily[expressive], display-medium fontWeight[400] fontSize[2.8125] lineHeight[3.25] fontFamily[expressive], display-small fontWeight[400] fontSize[2.25] lineHeight[2.75] fontFamily[expressive], headline-large fontWeight[400] fontSize[2] lineHeight[2.5] fontFamily[expressive], headline-medium fontWeight[400] fontSize[1.75] lineHeight[2.25] fontFamily[expressive], headline-small fontWeight[400] fontSize[1.5] lineHeight[2] fontFamily[expressive], title-large fontWeight[400] fontSize[1.375] lineHeight[1.75] fontFamily[neutral], title-medium fontWeight[500] fontSize[1] lineHeight[1.5] fontFamily[neutral] letterSpacing[0.009375], title-small fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-large fontWeight[500] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.00625], label-medium fontWeight[500] fontSize[0.75] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], label-small fontWeight[500] fontSize[0.6875] lineHeight[1] fontFamily[neutral] letterSpacing[0.03125], body-large fontWeight[400] fontSize[1] lineHeight[1.5625] fontFamily[neutral] letterSpacing[0.03125], body-medium fontWeight[400] fontSize[0.875] lineHeight[1.25] fontFamily[neutral] letterSpacing[0.015625], body-small fontWeight[400] fontSize[0.75] lineHeight[1.125] fontFamily[neutral] letterSpacing[0.025];
  responsiveBreakPoints: sm 1.125;
}
@theme {
  --color-*: initial;
  --color-surface: #faf9fe;
  --color-surface-dim: #d8d9e4;
  --color-surface-bright: #faf9fe;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f3f3fa;
  --color-surface-container: #ededf6;
  --color-surface-container-high: #e7e8f1;
  --color-surface-container-highest: #e0e2ed;
  --color-on-surface: #2f323a;
  --color-on-surface-variant: #585f70;
  --color-outline: #747b8c;
  --color-outline-variant: #abb2c5;
  --color-inverse-surface: #0d0e12;
  --color-inverse-on-surface: #f1f0f6;
  --color-primary: #495f8b;
  --color-primary-dim: #3d537e;
  --color-on-primary: #f9f8ff;
  --color-primary-container: #b0c7f9;
  --color-on-primary-container: #29406a;
  --color-primary-fixed: #b0c7f9;
  --color-primary-fixed-dim: #a2b9ea;
  --color-on-primary-fixed: #122b54;
  --color-on-primary-fixed-variant: #324973;
  --color-inverse-primary: #b0c7f9;
  --color-secondary: #575f72;
  --color-secondary-dim: #4b5366;
  --color-on-secondary: #f9f8ff;
  --color-secondary-container: #dbe2f9;
  --color-on-secondary-container: #4a5264;
  --color-secondary-fixed: #dbe2f9;
  --color-secondary-fixed-dim: #ccd4ea;
  --color-on-secondary-fixed: #373f51;
  --color-on-secondary-fixed-variant: #545b6e;
  --color-tertiary: #685781;
  --color-tertiary-dim: #5c4b74;
  --color-on-tertiary: #fef7ff;
  --color-tertiary-container: #e4ceff;
  --color-on-tertiary-container: #54436b;
  --color-tertiary-fixed: #e4ceff;
  --color-tertiary-fixed-dim: #d6c0f1;
  --color-on-tertiary-fixed: #403157;
  --color-on-tertiary-fixed-variant: #5d4d75;
  --color-error: #a83836;
  --color-error-dim: #67040d;
  --color-on-error: #fff7f6;
  --color-error-container: #fa746f;
  --color-on-error-container: #6e0a12;
  --color-surface-variant: #e0e2ed;
  --color-surface-tint: #495f8b;
  --color-background: #faf9fe;
  --color-on-background: #2f323a;
}
@layer theme {
  .dark {
    --color-surface: #0d0e12;
    --color-surface-dim: #0d0e12;
    --color-surface-bright: #292c34;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #111318;
    --color-surface-container: #171a1f;
    --color-surface-container-high: #1d2026;
    --color-surface-container-highest: #23262d;
    --color-on-surface: #e3e5f0;
    --color-on-surface-variant: #a4abbe;
    --color-outline: #6f7587;
    --color-outline-variant: #414858;
    --color-inverse-surface: #faf9fe;
    --color-inverse-on-surface: #2f3035;
    --color-primary: #b6c6ed;
    --color-primary-dim: #a8b9df;
    --color-on-primary: #304060;
    --color-primary-container: #425274;
    --color-on-primary-container: #d9e3ff;
    --color-primary-fixed: #c7d7ff;
    --color-primary-fixed-dim: #b9c9f0;
    --color-on-primary-fixed: #273858;
    --color-on-primary-fixed-variant: #445476;
    --color-inverse-primary: #4f5f81;
    --color-secondary: #bfc6dc;
    --color-secondary-dim: #b1b9ce;
    --color-on-secondary: #384052;
    --color-secondary-container: #333b4d;
    --color-on-secondary-container: #b7bfd5;
    --color-secondary-fixed: #dbe2f9;
    --color-secondary-fixed-dim: #ccd4ea;
    --color-on-secondary-fixed: #373f51;
    --color-on-secondary-fixed-variant: #545b6e;
    --color-tertiary: #efdfff;
    --color-tertiary-dim: #e4ceff;
    --color-on-tertiary: #5c4c75;
    --color-tertiary-container: #e4ceff;
    --color-on-tertiary-container: #54436b;
    --color-tertiary-fixed: #e4ceff;
    --color-tertiary-fixed-dim: #d6c0f1;
    --color-on-tertiary-fixed: #403157;
    --color-on-tertiary-fixed-variant: #5d4d75;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #23262d;
    --color-surface-tint: #b6c6ed;
    --color-background: #0d0e12;
    --color-on-background: #e3e5f0;
  }
 
}
@layer theme {
  .theme-blue {
    --color-surface: #0d0e12;
    --color-surface-dim: #0d0e12;
    --color-surface-bright: #292c34;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #111318;
    --color-surface-container: #171a1f;
    --color-surface-container-high: #1d2026;
    --color-surface-container-highest: #23262d;
    --color-on-surface: #e3e5f0;
    --color-on-surface-variant: #a4abbe;
    --color-outline: #6f7587;
    --color-outline-variant: #414858;
    --color-inverse-surface: #faf9fe;
    --color-inverse-on-surface: #2f3035;
    --color-primary: #b6c6ed;
    --color-primary-dim: #a8b9df;
    --color-on-primary: #304060;
    --color-primary-container: #425274;
    --color-on-primary-container: #d9e3ff;
    --color-primary-fixed: #c7d7ff;
    --color-primary-fixed-dim: #b9c9f0;
    --color-on-primary-fixed: #273858;
    --color-on-primary-fixed-variant: #445476;
    --color-inverse-primary: #4f5f81;
    --color-secondary: #bfc6dc;
    --color-secondary-dim: #b1b9ce;
    --color-on-secondary: #384052;
    --color-secondary-container: #333b4d;
    --color-on-secondary-container: #b7bfd5;
    --color-secondary-fixed: #dbe2f9;
    --color-secondary-fixed-dim: #ccd4ea;
    --color-on-secondary-fixed: #373f51;
    --color-on-secondary-fixed-variant: #545b6e;
    --color-tertiary: #efdfff;
    --color-tertiary-dim: #e4ceff;
    --color-on-tertiary: #5c4c75;
    --color-tertiary-container: #e4ceff;
    --color-on-tertiary-container: #54436b;
    --color-tertiary-fixed: #e4ceff;
    --color-tertiary-fixed-dim: #d6c0f1;
    --color-on-tertiary-fixed: #403157;
    --color-on-tertiary-fixed-variant: #5d4d75;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #23262d;
    --color-surface-tint: #b6c6ed;
    --color-background: #0d0e12;
    --color-on-background: #e3e5f0;
    }
}

@layer theme {
  :is(.theme-blue.dark, .theme-blue .dark, .dark .theme-blue) {
    --color-surface: #0d0e12;
    --color-surface-dim: #0d0e12;
    --color-surface-bright: #292c34;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #111318;
    --color-surface-container: #171a1f;
    --color-surface-container-high: #1d2026;
    --color-surface-container-highest: #23262d;
    --color-on-surface: #e3e5f0;
    --color-on-surface-variant: #a4abbe;
    --color-outline: #6f7587;
    --color-outline-variant: #414858;
    --color-inverse-surface: #faf9fe;
    --color-inverse-on-surface: #2f3035;
    --color-primary: #b6c6ed;
    --color-primary-dim: #a8b9df;
    --color-on-primary: #304060;
    --color-primary-container: #425274;
    --color-on-primary-container: #d9e3ff;
    --color-primary-fixed: #c7d7ff;
    --color-primary-fixed-dim: #b9c9f0;
    --color-on-primary-fixed: #273858;
    --color-on-primary-fixed-variant: #445476;
    --color-inverse-primary: #4f5f81;
    --color-secondary: #bfc6dc;
    --color-secondary-dim: #b1b9ce;
    --color-on-secondary: #384052;
    --color-secondary-container: #333b4d;
    --color-on-secondary-container: #b7bfd5;
    --color-secondary-fixed: #dbe2f9;
    --color-secondary-fixed-dim: #ccd4ea;
    --color-on-secondary-fixed: #373f51;
    --color-on-secondary-fixed-variant: #545b6e;
    --color-tertiary: #efdfff;
    --color-tertiary-dim: #e4ceff;
    --color-on-tertiary: #5c4c75;
    --color-tertiary-container: #e4ceff;
    --color-on-tertiary-container: #54436b;
    --color-tertiary-fixed: #e4ceff;
    --color-tertiary-fixed-dim: #d6c0f1;
    --color-on-tertiary-fixed: #403157;
    --color-on-tertiary-fixed-variant: #5d4d75;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #23262d;
    --color-surface-tint: #b6c6ed;
    --color-background: #0d0e12;
    --color-on-background: #e3e5f0;
  }
 
}
@layer theme {
  .theme-green {
    --color-surface: #0b0f0c;
    --color-surface-dim: #0b0f0c;
    --color-surface-bright: #262e27;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #0f1510;
    --color-surface-container: #151b16;
    --color-surface-container-high: #1a211b;
    --color-surface-container-highest: #202821;
    --color-on-surface: #dfe8dd;
    --color-on-surface-variant: #9db09f;
    --color-outline: #687a6a;
    --color-outline-variant: #3b4c3e;
    --color-inverse-surface: #f7faf4;
    --color-inverse-on-surface: #2d312d;
    --color-primary: #a8d0af;
    --color-primary-dim: #9ac2a2;
    --color-on-primary: #23482e;
    --color-primary-container: #365a40;
    --color-on-primary-container: #c4edcb;
    --color-primary-fixed: #c3edca;
    --color-primary-fixed-dim: #b5debc;
    --color-on-primary-fixed: #23472e;
    --color-on-primary-fixed-variant: #3f6448;
    --color-inverse-primary: #42674c;
    --color-secondary: #b6ccb8;
    --color-secondary-dim: #a9beab;
    --color-on-secondary: #324536;
    --color-secondary-container: #2d4031;
    --color-on-secondary-container: #afc5b1;
    --color-secondary-fixed: #d2e8d3;
    --color-secondary-fixed-dim: #c4dac6;
    --color-on-secondary-fixed: #314435;
    --color-on-secondary-fixed-variant: #4d6050;
    --color-tertiary: #f4ffc9;
    --color-tertiary-dim: #dbe9ab;
    --color-on-tertiary: #586433;
    --color-tertiary-container: #e4f2b3;
    --color-on-tertiary-container: #505c2b;
    --color-tertiary-fixed: #e6f5b6;
    --color-tertiary-fixed-dim: #d8e6a9;
    --color-on-tertiary-fixed: #404b1d;
    --color-on-tertiary-fixed-variant: #5c6836;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #202821;
    --color-surface-tint: #a8d0af;
    --color-background: #0b0f0c;
    --color-on-background: #dfe8dd;
    }
}

@layer theme {
  :is(.theme-green.dark, .theme-green .dark, .dark .theme-green) {
    --color-surface: #0b0f0c;
    --color-surface-dim: #0b0f0c;
    --color-surface-bright: #262e27;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #0f1510;
    --color-surface-container: #151b16;
    --color-surface-container-high: #1a211b;
    --color-surface-container-highest: #202821;
    --color-on-surface: #dfe8dd;
    --color-on-surface-variant: #9db09f;
    --color-outline: #687a6a;
    --color-outline-variant: #3b4c3e;
    --color-inverse-surface: #f7faf4;
    --color-inverse-on-surface: #2d312d;
    --color-primary: #a8d0af;
    --color-primary-dim: #9ac2a2;
    --color-on-primary: #23482e;
    --color-primary-container: #365a40;
    --color-on-primary-container: #c4edcb;
    --color-primary-fixed: #c3edca;
    --color-primary-fixed-dim: #b5debc;
    --color-on-primary-fixed: #23472e;
    --color-on-primary-fixed-variant: #3f6448;
    --color-inverse-primary: #42674c;
    --color-secondary: #b6ccb8;
    --color-secondary-dim: #a9beab;
    --color-on-secondary: #324536;
    --color-secondary-container: #2d4031;
    --color-on-secondary-container: #afc5b1;
    --color-secondary-fixed: #d2e8d3;
    --color-secondary-fixed-dim: #c4dac6;
    --color-on-secondary-fixed: #314435;
    --color-on-secondary-fixed-variant: #4d6050;
    --color-tertiary: #f4ffc9;
    --color-tertiary-dim: #dbe9ab;
    --color-on-tertiary: #586433;
    --color-tertiary-container: #e4f2b3;
    --color-on-tertiary-container: #505c2b;
    --color-tertiary-fixed: #e6f5b6;
    --color-tertiary-fixed-dim: #d8e6a9;
    --color-on-tertiary-fixed: #404b1d;
    --color-on-tertiary-fixed-variant: #5c6836;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #202821;
    --color-surface-tint: #a8d0af;
    --color-background: #0b0f0c;
    --color-on-background: #dfe8dd;
  }
 
}
@layer theme {
  .theme-purple {
    --color-surface: #0f0d12;
    --color-surface-dim: #0f0d12;
    --color-surface-bright: #2f2a33;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #151218;
    --color-surface-container: #1c181f;
    --color-surface-container-high: #221e25;
    --color-surface-container-highest: #28242d;
    --color-on-surface: #ebe2ef;
    --color-on-surface-variant: #b2a7bc;
    --color-outline: #7c7285;
    --color-outline-variant: #4d4456;
    --color-inverse-surface: #fef7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #d3beea;
    --color-primary-dim: #c5b1dc;
    --color-on-primary: #49395d;
    --color-primary-container: #5c4b70;
    --color-on-primary-container: #eedcff;
    --color-primary-fixed: #e7d1fe;
    --color-primary-fixed-dim: #d9c4f0;
    --color-on-primary-fixed: #423356;
    --color-on-primary-fixed-variant: #604f74;
    --color-inverse-primary: #69587e;
    --color-secondary: #cfc1da;
    --color-secondary-dim: #c1b4cc;
    --color-on-secondary: #463c50;
    --color-secondary-container: #41384b;
    --color-on-secondary-container: #c8bad3;
    --color-secondary-fixed: #ebddf7;
    --color-secondary-fixed-dim: #ddcfe8;
    --color-on-secondary-fixed: #453b4f;
    --color-on-secondary-fixed-variant: #62576c;
    --color-tertiary: #ffd8ea;
    --color-tertiary-dim: #ffc4e2;
    --color-on-tertiary: #70445d;
    --color-tertiary-container: #ffc4e2;
    --color-on-tertiary-container: #663b54;
    --color-tertiary-fixed: #ffc4e2;
    --color-tertiary-fixed-dim: #f0b6d4;
    --color-on-tertiary-fixed: #512941;
    --color-on-tertiary-fixed-variant: #71455e;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #28242d;
    --color-surface-tint: #d3beea;
    --color-background: #0f0d12;
    --color-on-background: #ebe2ef;
    }
}

@layer theme {
  :is(.theme-purple.dark, .theme-purple .dark, .dark .theme-purple) {
    --color-surface: #0f0d12;
    --color-surface-dim: #0f0d12;
    --color-surface-bright: #2f2a33;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #151218;
    --color-surface-container: #1c181f;
    --color-surface-container-high: #221e25;
    --color-surface-container-highest: #28242d;
    --color-on-surface: #ebe2ef;
    --color-on-surface-variant: #b2a7bc;
    --color-outline: #7c7285;
    --color-outline-variant: #4d4456;
    --color-inverse-surface: #fef7fe;
    --color-inverse-on-surface: #322f34;
    --color-primary: #d3beea;
    --color-primary-dim: #c5b1dc;
    --color-on-primary: #49395d;
    --color-primary-container: #5c4b70;
    --color-on-primary-container: #eedcff;
    --color-primary-fixed: #e7d1fe;
    --color-primary-fixed-dim: #d9c4f0;
    --color-on-primary-fixed: #423356;
    --color-on-primary-fixed-variant: #604f74;
    --color-inverse-primary: #69587e;
    --color-secondary: #cfc1da;
    --color-secondary-dim: #c1b4cc;
    --color-on-secondary: #463c50;
    --color-secondary-container: #41384b;
    --color-on-secondary-container: #c8bad3;
    --color-secondary-fixed: #ebddf7;
    --color-secondary-fixed-dim: #ddcfe8;
    --color-on-secondary-fixed: #453b4f;
    --color-on-secondary-fixed-variant: #62576c;
    --color-tertiary: #ffd8ea;
    --color-tertiary-dim: #ffc4e2;
    --color-on-tertiary: #70445d;
    --color-tertiary-container: #ffc4e2;
    --color-on-tertiary-container: #663b54;
    --color-tertiary-fixed: #ffc4e2;
    --color-tertiary-fixed-dim: #f0b6d4;
    --color-on-tertiary-fixed: #512941;
    --color-on-tertiary-fixed-variant: #71455e;
    --color-error: #f97386;
    --color-error-dim: #c44b5f;
    --color-on-error: #490013;
    --color-error-container: #871c34;
    --color-on-error-container: #ff97a3;
    --color-surface-variant: #28242d;
    --color-surface-tint: #d3beea;
    --color-background: #0f0d12;
    --color-on-background: #ebe2ef;
  }
 
}
@layer theme {
  .theme-orange {
    --color-surface: #130d0b;
    --color-surface-dim: #130d0b;
    --color-surface-bright: #372925;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #1a110f;
    --color-surface-container: #221714;
    --color-surface-container-high: #291d1a;
    --color-surface-container-highest: #30231f;
    --color-on-surface: #f9e0da;
    --color-on-surface-variant: #c7a39a;
    --color-outline: #8e6e66;
    --color-outline-variant: #5c413a;
    --color-inverse-surface: #fff8f6;
    --color-inverse-on-surface: #372e2c;
    --color-primary: #f9b7a5;
    --color-primary-dim: #eaa998;
    --color-on-primary: #613428;
    --color-primary-container: #764638;
    --color-on-primary-container: #ffdbd2;
    --color-primary-fixed: #ffbcab;
    --color-primary-fixed-dim: #f0af9d;
    --color-on-primary-fixed: #4e2519;
    --color-on-primary-fixed-variant: #704033;
    --color-inverse-primary: #855244;
    --color-secondary: #e7bdb2;
    --color-secondary-dim: #d8b0a5;
    --color-on-secondary: #563931;
    --color-secondary-container: #51342d;
    --color-on-secondary-container: #dfb6ab;
    --color-secondary-fixed: #ffdbd1;
    --color-secondary-fixed-dim: #f6cbc0;
    --color-on-secondary-fixed: #553831;
    --color-on-secondary-fixed-variant: #74544b;
    --color-tertiary: #ffe1b1;
    --color-tertiary-dim: #f8d291;
    --color-on-tertiary: #694f1b;
    --color-tertiary-container: #f8d291;
    --color-on-tertiary-container: #604713;
    --color-tertiary-fixed: #f8d291;
    --color-tertiary-fixed-dim: #e9c484;
    --color-on-tertiary-fixed: #4b3401;
    --color-on-tertiary-fixed-variant: #6a501c;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #30231f;
    --color-surface-tint: #f9b7a5;
    --color-background: #130d0b;
    --color-on-background: #f9e0da;
    }
}

@layer theme {
  :is(.theme-orange.dark, .theme-orange .dark, .dark .theme-orange) {
    --color-surface: #130d0b;
    --color-surface-dim: #130d0b;
    --color-surface-bright: #372925;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #1a110f;
    --color-surface-container: #221714;
    --color-surface-container-high: #291d1a;
    --color-surface-container-highest: #30231f;
    --color-on-surface: #f9e0da;
    --color-on-surface-variant: #c7a39a;
    --color-outline: #8e6e66;
    --color-outline-variant: #5c413a;
    --color-inverse-surface: #fff8f6;
    --color-inverse-on-surface: #372e2c;
    --color-primary: #f9b7a5;
    --color-primary-dim: #eaa998;
    --color-on-primary: #613428;
    --color-primary-container: #764638;
    --color-on-primary-container: #ffdbd2;
    --color-primary-fixed: #ffbcab;
    --color-primary-fixed-dim: #f0af9d;
    --color-on-primary-fixed: #4e2519;
    --color-on-primary-fixed-variant: #704033;
    --color-inverse-primary: #855244;
    --color-secondary: #e7bdb2;
    --color-secondary-dim: #d8b0a5;
    --color-on-secondary: #563931;
    --color-secondary-container: #51342d;
    --color-on-secondary-container: #dfb6ab;
    --color-secondary-fixed: #ffdbd1;
    --color-secondary-fixed-dim: #f6cbc0;
    --color-on-secondary-fixed: #553831;
    --color-on-secondary-fixed-variant: #74544b;
    --color-tertiary: #ffe1b1;
    --color-tertiary-dim: #f8d291;
    --color-on-tertiary: #694f1b;
    --color-tertiary-container: #f8d291;
    --color-on-tertiary-container: #604713;
    --color-tertiary-fixed: #f8d291;
    --color-tertiary-fixed-dim: #e9c484;
    --color-on-tertiary-fixed: #4b3401;
    --color-on-tertiary-fixed-variant: #6a501c;
    --color-error: #fa746f;
    --color-error-dim: #c54d4a;
    --color-on-error: #490006;
    --color-error-container: #871f21;
    --color-on-error-container: #ff9993;
    --color-surface-variant: #30231f;
    --color-surface-tint: #f9b7a5;
    --color-background: #130d0b;
    --color-on-background: #f9e0da;
  }
 
}
@theme {
  --font-expressive: "Montserrat", "sans-serif";
  --font-neutral: "Roboto", "sans-serif";
}