$max-width: 1300px;

$color1: #706BFD;
$color2: #EE04C9;
$color3: #00E0FF;
$black: #0F1723;
$gris: #7B7B7B;
$degrade1: linear-gradient(270deg, #6100FF 0%, #EE04C9 100%);
$degrade2: radial-gradient(100.28% 130.52% at 100.24% 100%, #088AD6 0%, #00A084 100%);

@function rem($size, $base: 16){
  @return round((1rem * $size / $base) * 100) / 100;
}
@function em($size, $base: 16){
  @return round((1em*$size/$base)*100)/100;
}

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/roboto-v30-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/roboto-v30-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  margin: 0;
}
.container{
  padding: 0 1rem;
}

h1, h2, h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
}
h2.title{
  font-size: rem(18);
  color: $color1;
}
h3{
  font-size: rem(24);
  max-width: rem(550);
}
h4{
  font-size: 1.17rem;
}
a, button{
  font-size: rem(20);
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
a{
  text-decoration: none;
}
p, label, input, textarea, li{
  font-size: rem(20);
  font-family: 'Roboto', sans-serif;
}


.radial-button{
  cursor: pointer;
  color: white;
  transition: 0.35s;
  background: radial-gradient(100% 200% at 0 50%,#de68d0 0,#6100ff 100%);
  border: none;
  border-radius: rem(20);
  box-shadow: 6px 6px 30px rgb(97 0 255 / 50%);
  display: block;
  font-size: 1.38rem;
  padding: 1rem 2rem;
  width: fit-content;
  &:hover {
    transform: scale(1.1);
  }
}

.row{
  display: flex;
}
.nowrap{
  white-space: nowrap;
}

@media screen and (min-width: 720px) {
  .container{
    padding: 0 2rem;
  }
  h3{
    font-size: rem(32);
  }
  h2.title{
    font-size: rem(22);
  }
}

@keyframes slidein {
  from { transform: translateY(10%); }
  to   { transform: translateY(-10%); }
}
