@import "header";


main{
  .wave{
    height: rem(15);
    @media screen and (min-width: 1200px){
      height: rem(40);
    }
  }

  #introduction{
    position: relative;
    line-height: 0;
    div:first-of-type{
      line-height: normal;
      padding: 0 1.25rem;
      position: absolute;
      top: 48%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -48%);
      box-sizing: border-box;
      > * {
        text-align: center;
        color: white;
      }
      p{
        max-width: 631px;
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.6);
      }
      h1, p {
        text-shadow: 0 17px 10px rgba(0, 0, 0, 0.25);
      }
      a{
        display: block;
        width: fit-content;
        margin: 3rem auto 0;
        padding: 1rem 2rem;
        border-radius: 4rem;
        background: $degrade1;
        border: none;
        font-size: rem(22);
        box-shadow: 1.05728e-15px 17.2667px 34.5333px rgba(3, 32, 8, 0.1105), inset -2.41999e-16px -3.95215px 3.95215px #0E8E23, inset 2.41999e-16px 3.95215px 3.95215px #12AD2B;
      }
    }
    .background{
      max-width: 100%;
      width: 100%;
      height: 97vh;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }
    svg{
      transition: 0.5s;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  #services{
    max-width: $max-width;
    margin: 0 auto;
    >h3{
      margin-top: rem(80);
    }
    h2{
      margin: 0 auto rem(80) auto;
      text-align: center;
      font-weight: bold;
      font-size: rem(34);
      max-width: rem(545);
    }
    >div{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: rem(80);
      article{
        margin: 0 1rem 4.5rem 1rem;
        max-width: rem(300);
        *{
          text-align: center;
        }
        >img{
          margin: 0 auto 2rem auto;
          display: block;
        }
        p{
          color: $gris;
          font-size: rem(18);
          margin-bottom: 3rem;
        }
        a{
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            background: $degrade2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          svg path{
            fill: #2596A6;
          }
          >*{
            margin: 0 .25rem;
          }
        }
      }
    }
    @media screen and (min-width: 654px) {
      h2{
        font-size: rem(36);
      }
      >div{
        justify-content: space-around;
      }
      article:not(article:nth-of-type(2)){
        a{
          p{
            color: $gris;
            -webkit-text-fill-color: inherit;
          }
          path{
            fill: $gris;
          }
        }
      }
      article:nth-of-type(2){
        order: 1;
      }
    }
    @media screen and (min-width: 1050px) {
      article:nth-of-type(2){
        order: 0;
      }
    }
  }
  #presentation{
    background: $black;
    svg{
      transform: rotate(180deg);
    }
  }
}
