---



---

<header class="close">
  <div class="row">
    <div class="col">
      <a href="#accueil" title="direction vers l'introduction">
        <svg width="57" height="49" viewBox="0 0 57 49" fill="none">
          <path d="M8.03 14.3892L0 6.35922L6.3583 0.000915527L19.7374 13.38C18.1433 15.0651 15.9476 16.0518 13.6291 16.1248C11.6215 16.1865 9.65074 15.5757 8.03 14.3892V14.3892Z" fill="white"/>
          <path d="M40.8079 6.35828L26.8558 20.3104C25.1445 22.0216 22.8235 22.983 20.4035 22.983C17.9834 22.983 15.6625 22.0216 13.9512 20.3104L8.43787 14.7971C8.95353 15.1771 9.50809 15.5014 10.0922 15.7643C12.3568 16.7792 14.9313 16.855 17.2517 15.9751C18.4181 15.5439 19.4888 14.8885 20.4035 14.0461V14.0461L28.0913 6.35828C28.9262 5.52316 29.9174 4.8607 31.0084 4.40873C32.0994 3.95675 33.2687 3.72412 34.4496 3.72412C35.6305 3.72412 36.7998 3.95675 37.8908 4.40873C38.9817 4.8607 39.973 5.52316 40.8079 6.35828V6.35828Z" fill="white"/>
          <path d="M30.7148 41.2121C31.2819 40.9563 31.8213 40.6429 32.3244 40.2768L26.8558 45.7436C25.1445 47.4548 22.8236 48.4162 20.4035 48.4162C17.9834 48.4162 15.6625 47.4548 13.9512 45.7436L6.35739 38.1516C5.52224 37.3166 4.85975 36.3253 4.40777 35.2343C3.95578 34.1432 3.72314 32.9738 3.72314 31.7929C3.72314 30.6119 3.95578 29.4425 4.40777 28.3515C4.85975 27.2604 5.52224 26.2691 6.35739 25.4341L20.4035 39.4802C21.3175 40.327 22.3881 40.9869 23.5553 41.4229C25.8758 42.3019 28.45 42.2261 30.7148 41.2121V41.2121Z" fill="white"/>
          <path d="M53.4314 19.1698L32.7314 39.8699C31.1192 41.0346 29.1668 41.633 27.1788 41.5717C24.8574 41.4985 22.6594 40.5094 21.0651 38.8205L47.1662 12.7166L40.8088 6.35921L47.1671 0L53.4314 6.26431C54.2789 7.11166 54.9511 8.11765 55.4098 9.22481C55.8684 10.332 56.1045 11.5187 56.1045 12.7171C56.1045 13.9155 55.8684 15.1021 55.4098 16.2093C54.9511 17.3165 54.2789 18.3225 53.4314 19.1698Z" fill="white"/>
        </svg>
      </a>
      <div id="button-menu">
        <div></div>
      </div>
    </div>
    <nav>
      <div class="links">
        <a href="#accueil"  title="direction vers les services">Accueil</a>
        <a href="#services"  title="direction vers les services">Services</a>
        <a href="#presentation" title="à propos de moi...">À&#160;propos</a>
        <a href="#competences" title="direction vers mes compétances" class="nowrap">Savoir-faire</a>
        <a href="#projets" title="direction vers mon portfolio">Portfolio</a>
        <div class="after"></div>
      </div>
      <a class="button" href="#contact" title="direction vers contact">Me&#160;contacter</a>
    </nav>
  </div>
</header>
